body{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.custom-data-grid {
  position: relative;
  width: 100%;
  /* background-image: url('https://images.unsplash.com/photo-1682687982046-e5e46906bc6e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
}

.table-header {
  display: flex;
}

.table-header-cell {
  min-width: 40px;
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.table-header-cell.row-number {
  min-width: 40px;
  position: relative;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
}

.table-cell {
  min-width: 40px;
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.table-cell.selected {
  background-color: #305764;
}

.tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #0f0f0f;
  padding: 8px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  background-color: #4b4b4b;
  padding: 10px;
  border-radius: 5px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.top {
  top: -40px;
  left: -50%;
}

.bottom {
  top: 25px;
  left: -50%;
}

.left {
  top: -8px;
  right: 120%;
}

.right {
  top: -8px;
  left: 120%;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
}
