body{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.custom-data-grid {
  position: relative;
  /* width: 100%; */
}

.table-header {
  display: flex;
}

.table-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 40px;
  text-align: center;
  border: 2px solid rgb(212, 212, 212);
}

.table-header-cell.row-number {
  min-width: 60px;
    height: 40px;
  position: relative;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
}

.table-cell {
  border: 2px solid rgb(212, 212, 212);
}

.table-cell.selected {
  border: 2px solid #0b57d0 !important;
}

.tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #0f0f0f;
  padding: 8px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  background-color: #4b4b4b;
  padding: 10px;
  border-radius: 5px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.top {
  top: -40px;
  left: -50%;
}

.bottom {
  top: 25px;
  left: -50%;
}

.left {
  top: -8px;
  right: 120%;
}

.right {
  top: -8px;
  left: 120%;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
}
